<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<staticContent>
		<mimeMap fileExtension="." mimeType="image/jpeg" />
	</staticContent>
	
	<rewrite>
		<rules>
            <rule name="rule 1R">
				<match url="^index\.html$"  />
				<action type="Rewrite" url="/index.php"  />
			</rule>
			<rule name="rule 2R">
				<match url="^lilei\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=1"  />
			</rule>
			<rule name="rule 3R">
				<match url="^lilei-([0-9]+)\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=1&amp;page_1={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 4R">
				<match url="^shengming\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=2"  />
			</rule>
			<rule name="rule 5R">
				<match url="^help\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=3"  />
			</rule>
			<rule name="rule 6R">
				<match url="^contact\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=4"  />
			</rule>
			<rule name="rule 7R">
				<match url="^jifen\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=5"  />
			</rule>
			<rule name="rule 8R">
				<match url="^advantage\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=6"  />
			</rule>
			<rule name="rule 9R">
				<match url="^payment\.html$"  />
				<action type="Rewrite" url="/show_m.php?place_area=7"  />
			</rule>
			<rule name="rule 10R">
				<match url="^login\.html$"  />
				<action type="Rewrite" url="/login_m.php"  />
			</rule>
			<rule name="rule 11R">
				<match url="^daima\/$"  />
				<action type="Rewrite" url="/daima_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 12R">
				<match url="^daima$"  />
				<action type="Rewrite" url="/daima_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 13R">
				<match url="^jingyan\/$"  />
				<action type="Rewrite" url="/jingyan_m.php"  />
			</rule>
			<rule name="rule 14R">
				<match url="^jingyan$"  />
				<action type="Rewrite" url="/jingyan_m.php"  />
			</rule>
			<rule name="rule 15R">
				<match url="^jingyan\/list-([0-9]+)\.html$"  />
				<action type="Rewrite" url="/jingyan_m.php?page={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 16R">
				<match url="^jingyan\/([0-9]+)\.html$"  />
				<action type="Rewrite" url="/jingyan_show.php?id={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 17R">
				<match url="^jingyan\/([0-9]+)-([0-9]+)\.html$"  />
				<action type="Rewrite" url="/jingyan_show.php?id={R:1}&amp;page_1={R:2}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 18R">
				<match url="^news\/$"  />
				<action type="Rewrite" url="/news_m.php"  />
			</rule>
			<rule name="rule 19R">
				<match url="^news$"  />
				<action type="Rewrite" url="/news_m.php"  />
			</rule>
			<rule name="rule 20R">
				<match url="^news\/list-([0-9]+)\.html$"  />
				<action type="Rewrite" url="/news_m.php?page={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 21R">
				<match url="^news\/([0-9]+)\.html$"  />
				<action type="Rewrite" url="/news_show.php?id={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 22R">
				<match url="^news\/([0-9]+)-([0-9]+)\.html$"  />
				<action type="Rewrite" url="/news_show.php?id={R:1}&amp;page_1={R:2}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 23R">
				<match url="^host\/$"  />
				<action type="Rewrite" url="/host_m.php"  />
			</rule>
			<rule name="rule 24R">
				<match url="^host$"  />
				<action type="Rewrite" url="/host_m.php"  />
			</rule>
			<rule name="rule 25R">
				<match url="^home\.html$"  />
				<action type="Rewrite" url="/home_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 26R">
				<match url="^password\.html$"  />
				<action type="Rewrite" url="/password_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 27R">
				<match url="^score\.html$"  />
				<action type="Rewrite" url="/score_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 28R">
				<match url="^zhuji\.html$"  />
				<action type="Rewrite" url="/zhuji_m.php?&amp;%{QUERY_STRING}"  />

			</rule>
			<rule name="rule 29R">
				<match url="^zhuji_info\.html$"  />
				<action type="Rewrite" url="/zhuji_info_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 30R">
				<match url="^myfatie\.html$"  />
				<action type="Rewrite" url="/myfatie_m.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 31R">
				<match url="^back_safe\.html$"  />
				<action type="Rewrite" url="/safe_update.php?&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 32R">
				<match url="^web\/$"  />
				<action type="Rewrite" url="/web_m.php"  />
			</rule>
			<rule name="rule 33R">
				<match url="^web$"  />
				<action type="Rewrite" url="/web_m.php"  />
			</rule>
			<rule name="rule 34R">
				<match url="^wap\/$"  />
				<action type="Rewrite" url="//wap/index_wap.php"  />
			</rule>
			<rule name="rule 35R">
				<match url="^wap$"  />
				<action type="Rewrite" url="//wap/index_wap.php"  />
			</rule>
			<rule name="rule 36R">
				<match url="^wap\/jingyan\/$"  />
				<action type="Rewrite" url="//wap/jingyan_m_wap.php"  />
			</rule>
			<rule name="rule 37R">
				<match url="^wap\/jingyan$"  />
				<action type="Rewrite" url="//wap/jingyan_m_wap.php"  />
			</rule>
			<rule name="rule 38R">
				<match url="^wap\/jingyan\/list-([0-9]+)\.html$"  />
				<action type="Rewrite" url="//wap/jingyan_m_wap.php?page={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 39R">
				<match url="^wap\/jingyan\/([0-9]+)\.html$"  />
				<action type="Rewrite" url="//wap/jingyan_show_wap.php?id={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 40R">
				<match url="^wap\/jingyan\/([0-9]+)-([0-9]+)\.html$"  />
				<action type="Rewrite" url="//wap/jingyan_show_wap.php?id={R:1}&amp;page_1={R:2}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 41R">
				<match url="^wap\/news\/$"  />
				<action type="Rewrite" url="//wap/news_m_wap.php"  />
			</rule>
			<rule name="rule 42R">
				<match url="^wap\/news$"  />
				<action type="Rewrite" url="//wap/news_m_wap.php"  />
			</rule>
			<rule name="rule 43R">
				<match url="^wap\/news\/list-([0-9]+)\.html$"  />
				<action type="Rewrite" url="//wap/news_m_wap.php?page={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 44R">
				<match url="^wap\/news\/([0-9]+)\.html$"  />
				<action type="Rewrite" url="//wap/news_show_wap.php?id={R:1}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 45R">
				<match url="^wap\/news\/([0-9]+)-([0-9]+)\.html$"  />
				<action type="Rewrite" url="//wap/news_show_wap.php?id={R:1}&amp;page_1={R:2}&amp;%{QUERY_STRING}"  />
			</rule>
			<rule name="rule 46R">
				<match url="^sitemap\.xml$"  />
				<action type="Rewrite" url="/Sitemap.xml"  />
			</rule>

        </rules>
	</rewrite>
	
   </system.webServer> 	
</configuration>
